<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />

    <application
        android:label="@string/app_name"
        android:theme="@style/Theme.Incognito"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true">

        <activity
            android:name=".LauncherActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SiteActivity0"
            android:process=":site0"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito" />
        <activity
            android:name=".SiteActivity1"
            android:process=":site1"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito" />
        <activity
            android:name=".SiteActivity2"
            android:process=":site2"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito" />
        <activity
            android:name=".SiteActivity3"
            android:process=":site3"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito" />
        <activity
            android:name=".SiteActivity4"
            android:process=":site4"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito" />
        <activity
            android:name=".SiteActivity5"
            android:process=":site5"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito" />
        <activity
            android:name=".SiteActivity6"
            android:process=":site6"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito" />
        <activity
            android:name=".SiteActivity7"
            android:process=":site7"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito" />
        <activity
            android:name=".SiteActivity8"
            android:process=":site8"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito" />
        <activity
            android:name=".SiteActivity9"
            android:process=":site9"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:configChanges="orientation|screenSize|keyboardHidden|screenLayout|smallestScreenSize"
            android:theme="@style/Theme.Incognito" />
    </application>
</manifest>
